SPRING_PROFILES_ACTIVE=dev

DATABASE_USERNAME=sa
DATABASE_PASSWORD=

JWT_SECRET=ejqeoiqjeoqhdqnibniubfiwfgwfrwernwujrnwiucfbwyufgwfhirorqourhu
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

USER_USERNAME=user
USER_PASSWORD=user

ALLOWED_ORIGIN_PATTERN=*

WEATHER_SYNC_CRON_SCHEDULE=0 15 * * * *